.form {
    background-color: #D4E4F1;
    width: 17%;
    height: 100%;
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
    color: #FB9900;
}


/*table,td,tr{
	border:1px solid black;
	border-collapse: collapse;
}*/

.domain {
    width: 200px;
    height: 20px;
    border-radius: 20px;
}

td {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sub {
    margin-left: 30px;
}

.submit {
    text-align: center;
}